elevenlabs-call-completed.json
{
  "name": "ElevenLabs Call Completed - Update CRM",
  "nodes": [
    {
      "id": "webhook",
      "name": "ElevenLabs Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "elevenlabs-call-completed",
      "parameters": {
        "path": "call-completed",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      }
    },
    {
      "id": "check-event-type",
      "name": "Check Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [470, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "transcription",
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"leftValue": "={{ $json.body.type }}", "rightValue": "post_call_transcription", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "failure",
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"leftValue": "={{ $json.body.type }}", "rightValue": "call_initiation_failure", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {"fallbackOutput": "none"}
      }
    },
    {
      "id": "parse-call-data",
      "name": "Parse Call Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 200],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const webhook = $input.item.json.body;\nconst data = webhook.data;\nconst clientData = data.conversation_initiation_client_data || {};\nconst dynamicVars = clientData.dynamic_variables || {};\nconst analysis = data.analysis || {};\n\nlet qualificationStatus = 'unknown';\nlet qualificationScore = 0;\n\nif (analysis.call_successful === 'success') {\n  qualificationStatus = 'qualified';\n  qualificationScore = 80;\n} else if (analysis.call_successful === 'failure') {\n  qualificationStatus = 'not_qualified';\n  qualificationScore = 20;\n} else {\n  qualificationStatus = 'needs_review';\n  qualificationScore = 50;\n}\n\nconst collectedData = analysis.data_collection_results || {};\n\nconst personId = dynamicVars.crm_person_id;\nconst validPersonId = (typeof personId === 'number' && personId > 0) ? personId : 0;\nconst routeDecision = validPersonId > 0 ? 'update_crm' : 'skip_crm';\n\nconst result = {\n  crm_person_id: validPersonId,\n  route_decision: routeDecision,\n  customer_name: dynamicVars.customer_name || '',\n  customer_phone: dynamicVars.phone || '',\n  conversation_id: data.conversation_id,\n  agent_id: data.agent_id,\n  call_duration_secs: data.metadata?.call_duration_secs || 0,\n  call_timestamp: data.metadata?.start_time_unix_secs || 0,\n  qualification_status: qualificationStatus,\n  qualification_score: qualificationScore,\n  call_successful: analysis.call_successful || 'unknown',\n  transcript_summary: analysis.transcript_summary || '',\n  collected_data: collectedData,\n  budget: collectedData.budget || 'not_discussed',\n  timeline: collectedData.timeline || 'not_discussed',\n  authority: collectedData.authority || 'not_discussed',\n  need: collectedData.need || 'not_discussed',\n  transcript: data.transcript || [],\n  transcript_text: (data.transcript || []).map(t => `${t.role}: ${t.message}`).join('\\n'),\n  event_timestamp: webhook.event_timestamp\n};\n\nreturn { json: result };"
      }
    },
    {
      "id": "route-crm-decision",
      "name": "Route CRM Decision",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [910, 200],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "update_crm",
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"leftValue": "={{ $json.route_decision }}", "rightValue": "update_crm", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true
            },
            {
              "outputKey": "skip_crm",
              "conditions": {
                "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
                "conditions": [{"leftValue": "={{ $json.route_decision }}", "rightValue": "skip_crm", "operator": {"type": "string", "operation": "equals"}}],
                "combinator": "and"
              },
              "renameOutput": true
            }
          ]
        },
        "options": {"fallbackOutput": "none"}
      }
    },
    {
      "id": "create-crm-note",
      "name": "Add Note to CRM",
      "type": "n8n-nodes-base.crm",
      "typeVersion": 1,
      "position": [1130, 100],
      "parameters": {
        "resource": "note",
        "operation": "create",
        "content": "=## AI Qualification Call Summary\n\n**Status:** {{ $json.qualification_status }}\n**Score:** {{ $json.qualification_score }}/100\n**Duration:** {{ Math.round($json.call_duration_secs / 60) }} minutes\n\n### Summary\n{{ $json.transcript_summary }}\n\n### Qualification Criteria\n- **Budget:** {{ $json.budget }}\n- **Timeline:** {{ $json.timeline }}\n- **Authority:** {{ $json.authority }}\n- **Need:** {{ $json.need }}",
        "additionalFields": {
          "person_id": "={{ $json.crm_person_id }}"
        }
      },
      "credentials": {
        "crmApi": {
          "id": "CONFIGURE_ME",
          "name": "CRM API"
        }
      }
    },
    {
      "id": "update-crm-person",
      "name": "Update Person Status",
      "type": "n8n-nodes-base.crm",
      "typeVersion": 1,
      "position": [1350, 100],
      "parameters": {
        "resource": "person",
        "operation": "update",
        "personId": "={{ $('Parse Call Data').item.json.crm_person_id }}",
        "additionalFields": {
          "label": "={{ $('Parse Call Data').item.json.qualification_status === 'qualified' ? 'Hot Lead' : $('Parse Call Data').item.json.qualification_status === 'not_qualified' ? 'Cold' : 'Warm Lead' }}"
        }
      },
      "credentials": {
        "crmApi": {
          "id": "CONFIGURE_ME",
          "name": "CRM API"
        }
      }
    },
    {
      "id": "log-no-id",
      "name": "Log Missing ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1130, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {"id": "warning", "name": "warning", "value": "No CRM ID found - call logged without CRM update", "type": "string"},
            {"id": "conversation_id", "name": "conversation_id", "value": "={{ $json.conversation_id }}", "type": "string"},
            {"id": "customer_name", "name": "customer_name", "value": "={{ $json.customer_name }}", "type": "string"},
            {"id": "qualification_status", "name": "qualification_status", "value": "={{ $json.qualification_status }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "parse-failure",
      "name": "Parse Failure Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [690, 400],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {"id": "status", "name": "status", "value": "call_failed", "type": "string"},
            {"id": "failure_reason", "name": "failure_reason", "value": "={{ $json.body.data.failure_reason }}", "type": "string"}
          ]
        },
        "options": {}
      }
    },
    {
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1570, 100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"CRM updated\", \"conversation_id\": \"{{ $('Parse Call Data').item.json.conversation_id }}\"}",
        "options": {"responseCode": 200}
      }
    },
    {
      "id": "respond-no-id",
      "name": "Respond No ID",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 300],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"warning\": \"No CRM ID - call logged only\", \"conversation_id\": \"{{ $json.conversation_id }}\"}",
        "options": {"responseCode": 200}
      }
    },
    {
      "id": "respond-failure",
      "name": "Respond Failure Logged",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 400],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"status\": \"failure_logged\"}",
        "options": {"responseCode": 200}
      }
    }
  ],
  "connections": {
    "ElevenLabs Webhook": {
      "main": [[{"node": "Check Event Type", "type": "main", "index": 0}]]
    },
    "Check Event Type": {
      "main": [
        [{"node": "Parse Call Data", "type": "main", "index": 0}],
        [{"node": "Parse Failure Data", "type": "main", "index": 0}]
      ]
    },
    "Parse Call Data": {
      "main": [[{"node": "Route CRM Decision", "type": "main", "index": 0}]]
    },
    "Route CRM Decision": {
      "main": [
        [{"node": "Add Note to CRM", "type": "main", "index": 0}],
        [{"node": "Log Missing ID", "type": "main", "index": 0}]
      ]
    },
    "Add Note to CRM": {
      "main": [[{"node": "Update Person Status", "type": "main", "index": 0}]]
    },
    "Update Person Status": {
      "main": [[{"node": "Respond Success", "type": "main", "index": 0}]]
    },
    "Log Missing ID": {
      "main": [[{"node": "Respond No ID", "type": "main", "index": 0}]]
    },
    "Parse Failure Data": {
      "main": [[{"node": "Respond Failure Logged", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [],
  "pinData": {}
}
