elevenlabs-twilio-bulletproof.json
{
  "name": "Sarah SMS Tool - BULLETPROOF v2.0",
  "nodes": [
    {
      "id": "webhook-trigger",
      "name": "ElevenLabs Tool Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "send-sms",
        "responseMode": "responseNode"
      },
      "webhookId": "send-sms-tool"
    },
    {
      "id": "extract-params",
      "name": "Extract & Validate Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "phone",
              "name": "phone_number",
              "value": "={{ (($json.body && $json.body.phone_number) || $json.phone_number || '').toString().replace(/[^0-9+]/g, '') }}",
              "type": "string"
            },
            {
              "id": "name",
              "name": "first_name",
              "value": "={{ ($json.body && $json.body.caller_name) || ($json.body && $json.body.first_name) || $json.caller_name || $json.first_name || 'there' }}",
              "type": "string"
            },
            {
              "id": "phone_valid",
              "name": "phone_valid",
              "value": "={{ /^\\+1[0-9]{10}$/.test((($json.body && $json.body.phone_number) || $json.phone_number || '').toString().replace(/[^0-9+]/g, '')) }}",
              "type": "boolean"
            },
            {
              "id": "raw_phone",
              "name": "raw_phone_input",
              "value": "={{ ($json.body && $json.body.phone_number) || $json.phone_number || 'MISSING' }}",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "switch-validation",
      "name": "Validate Phone Format",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [690, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "valid",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "phone-valid-check",
                    "leftValue": "={{ $json.phone_valid }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "missing",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "phone-missing-check",
                    "leftValue": "={{ $json.raw_phone_input }}",
                    "rightValue": "MISSING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "invalid",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "phone-invalid-check",
                    "leftValue": "={{ $json.phone_valid }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "respond-missing",
      "name": "Error: Missing Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 440],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'MISSING_PHONE_NUMBER', message: 'No phone number was provided in the request', hint: 'Provide phone_number in E.164 format: +1XXXXXXXXXX' } }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "respond-invalid",
      "name": "Error: Invalid Phone",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 580],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'INVALID_PHONE_FORMAT', message: 'Phone number format is invalid', provided: $json.raw_phone_input, expected: '+1XXXXXXXXXX (E.164 format)', hint: 'US numbers must be +1 followed by 10 digits' } }}",
        "options": {
          "responseCode": 400
        }
      }
    },
    {
      "id": "send-sms",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [910, 160],
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "+15550100",
        "to": "={{ $json.phone_number }}",
        "message": "=Hi {{ $json.first_name }}! Here's your link to book a demo with ExampleCo: https://cal.com/example/demo"
      },
      "credentials": {
        "twilioApi": {
          "id": "7NL1kUMhDvMY4yUc",
          "name": "Twilio SMS - Sarah"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "id": "switch-send-result",
      "name": "Check Send Result",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1130, 160],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "success",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "has-sid",
                    "leftValue": "={{ $json.sid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "error",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "or",
                "conditions": [
                  {
                    "id": "no-sid",
                    "leftValue": "={{ $json.sid }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty"
                    }
                  },
                  {
                    "id": "has-error-code",
                    "leftValue": "={{ $json.error_code }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "verify-delivery",
      "name": "Verify Delivery Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 60],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Bulletproof SMS Delivery Verification\n// Polls Twilio API to confirm actual delivery status\n\nconst ACCOUNT_SID = process.env.TWILIO_ACCOUNT_SID;\nconst AUTH_TOKEN = process.env.TWILIO_AUTH_TOKEN;\nconst MAX_POLLS = 3;\nconst POLL_DELAY_MS = 2000;\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const messageSid = item.json.sid;\n  const phoneNumber = $('Extract & Validate Parameters').first().json.phone_number;\n  const firstName = $('Extract & Validate Parameters').first().json.first_name;\n  \n  if (!messageSid) {\n    results.push({\n      json: {\n        success: false,\n        error: 'NO_MESSAGE_SID',\n        message: 'Twilio did not return a message SID'\n      }\n    });\n    continue;\n  }\n  \n  // Poll for delivery status\n  let finalStatus = null;\n  let errorCode = null;\n  let errorMessage = null;\n  let pollCount = 0;\n  \n  const pollUrl = `https://api.twilio.com/2010-04-01/Accounts/${ACCOUNT_SID}/Messages/${messageSid}.json`;\n  const authHeader = 'Basic ' + Buffer.from(`${ACCOUNT_SID}:${AUTH_TOKEN}`).toString('base64');\n  \n  for (let i = 0; i < MAX_POLLS; i++) {\n    pollCount++;\n    \n    // Wait before polling (except first iteration)\n    if (i > 0) {\n      await new Promise(resolve => setTimeout(resolve, POLL_DELAY_MS));\n    }\n    \n    try {\n      const response = await fetch(pollUrl, {\n        headers: { 'Authorization': authHeader }\n      });\n      \n      if (!response.ok) {\n        throw new Error(`HTTP ${response.status}`);\n      }\n      \n      const data = await response.json();\n      finalStatus = data.status;\n      errorCode = data.error_code || null;\n      errorMessage = data.error_message || null;\n      \n      // Terminal states - stop polling\n      if (['delivered', 'failed', 'undelivered'].includes(finalStatus)) {\n        break;\n      }\n      \n      // 'sent' is good enough - carrier accepted it\n      if (finalStatus === 'sent') {\n        break;\n      }\n      \n    } catch (e) {\n      // API error - continue polling\n      console.log(`Poll ${i+1} failed: ${e.message}`);\n    }\n  }\n  \n  // Determine final result\n  const isSuccess = ['delivered', 'sent'].includes(finalStatus);\n  const isFailed = ['failed', 'undelivered'].includes(finalStatus);\n  const isPending = ['queued', 'sending', 'accepted'].includes(finalStatus);\n  \n  // Build troubleshooting message for errors\n  let troubleshooting = null;\n  if (errorCode) {\n    const errorMap = {\n      30032: 'CRITICAL: Toll-free number +15550100 is NOT VERIFIED for SMS. Complete Twilio A2P registration at https://console.twilio.com/us1/develop/phone-numbers/manage/toll-free-verifications',\n      21211: 'Invalid phone number format - ensure E.164 format (+1XXXXXXXXXX)',\n      21614: 'Recipient number is not SMS-capable (landline or VoIP)',\n      30003: 'Destination unreachable - carrier issue, retry later',\n      30004: 'Message blocked by carrier spam filter',\n      30005: 'Unknown destination - number does not exist',\n      30007: 'Carrier violation - check message content for spam triggers'\n    };\n    troubleshooting = errorMap[errorCode] || `Error ${errorCode}: Check https://www.twilio.com/docs/api/errors/${errorCode}`;\n  }\n  \n  results.push({\n    json: {\n      success: isSuccess,\n      status: finalStatus,\n      verification: isSuccess ? 'CONFIRMED' : (isFailed ? 'FAILED' : 'PENDING'),\n      message_sid: messageSid,\n      recipient: phoneNumber,\n      first_name: firstName,\n      polls_completed: pollCount,\n      error_code: errorCode,\n      error_message: errorMessage,\n      troubleshooting: troubleshooting,\n      _raw_status: finalStatus\n    }\n  });\n}\n\nreturn results;"
      }
    },
    {
      "id": "switch-final-status",
      "name": "Route by Status",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [1570, 60],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "outputKey": "success",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "is-success",
                    "leftValue": "={{ $json.success }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "failed",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "is-failed",
                    "leftValue": "={{ $json.verification }}",
                    "rightValue": "FAILED",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            },
            {
              "outputKey": "pending",
              "conditions": {
                "options": {
                  "leftValue": "",
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "is-pending",
                    "leftValue": "={{ $json.verification }}",
                    "rightValue": "PENDING",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "respond-success",
      "name": "Success: Delivered",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, -40],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, status: $json.status, verification: $json.verification, message_sid: $json.message_sid, recipient: $json.recipient, first_name: $json.first_name, polls_completed: $json.polls_completed } }}",
        "options": {
          "responseCode": 200
        }
      }
    },
    {
      "id": "respond-delivery-failed",
      "name": "Error: Delivery Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 100],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, status: $json.status, verification: 'FAILED', error: 'DELIVERY_FAILED', error_code: $json.error_code, error_message: $json.error_message, message_sid: $json.message_sid, recipient: $json.recipient, troubleshooting: $json.troubleshooting } }}",
        "options": {
          "responseCode": 500
        }
      }
    },
    {
      "id": "respond-pending",
      "name": "Warning: Pending",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 240],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, status: $json.status, verification: 'PENDING', note: 'Message accepted but delivery not yet confirmed', message_sid: $json.message_sid, recipient: $json.recipient, polls_completed: $json.polls_completed } }}",
        "options": {
          "responseCode": 202
        }
      }
    },
    {
      "id": "respond-send-error",
      "name": "Error: Send Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 260],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: 'TWILIO_API_ERROR', error_code: $json.error_code || $json.code || 'UNKNOWN', error_message: $json.error_message || $json.message || 'Failed to submit message to Twilio API', troubleshooting: 'Check Twilio credentials and phone number verification status' } }}",
        "options": {
          "responseCode": 500
        }
      }
    }
  ],
  "connections": {
    "ElevenLabs Tool Webhook": {
      "main": [[{"node": "Extract & Validate Parameters", "type": "main", "index": 0}]]
    },
    "Extract & Validate Parameters": {
      "main": [[{"node": "Validate Phone Format", "type": "main", "index": 0}]]
    },
    "Validate Phone Format": {
      "main": [
        [{"node": "Send SMS via Twilio", "type": "main", "index": 0}],
        [{"node": "Error: Missing Phone", "type": "main", "index": 0}],
        [{"node": "Error: Invalid Phone", "type": "main", "index": 0}]
      ]
    },
    "Send SMS via Twilio": {
      "main": [[{"node": "Check Send Result", "type": "main", "index": 0}]]
    },
    "Check Send Result": {
      "main": [
        [{"node": "Verify Delivery Status", "type": "main", "index": 0}],
        [{"node": "Error: Send Failed", "type": "main", "index": 0}]
      ]
    },
    "Verify Delivery Status": {
      "main": [[{"node": "Route by Status", "type": "main", "index": 0}]]
    },
    "Route by Status": {
      "main": [
        [{"node": "Success: Delivered", "type": "main", "index": 0}],
        [{"node": "Error: Delivery Failed", "type": "main", "index": 0}],
        [{"node": "Warning: Pending", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all"
  },
  "meta": {
    "instanceId": "your-n8n-host.example.com",
    "version": "2.0.0",
    "description": "BULLETPROOF SMS workflow with: (1) Phone validation, (2) Delivery verification via polling, (3) Error codes with troubleshooting, (4) Proper HTTP status codes",
    "changelog": [
      "v1.0: Basic webhook → Twilio → response",
      "v2.0: Added phone validation, Code node delivery polling, comprehensive error handling"
    ]
  }
}
