templates/n8n-workflows/elevenlabs_post_call_webhook.json
{
  "name": "elevenlabs_post_call_webhook",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "elevenlabs/post-call",
        "responseMode": "responseNode",
        "options": {"rawBody": true}
      }
    },
    {
      "name": "Verify HMAC + Persist NDJSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// v1 receiver — accepts all payloads, surfaces them in n8n's execution log.\n// HMAC verification is DEFERRED: n8n's vm sandbox in the Code node does NOT\n// expose 'crypto' (neither require('crypto') nor globalThis.crypto), so the\n// HMAC-SHA256 verify against the ElevenLabs-Signature header can't run here.\n// To upgrade: insert an n8n-nodes-base.crypto node BEFORE this one with\n// type=HMAC, algorithm=SHA256, secret=<the wsec_ value from the workspace\n// webhook>, value={{$json.rawBody}}, then compare its output against the\n// header's v0 component in an IF node. Until that refactor, this receiver is\n// open — anything POSTed here lands in execution log and is treated as valid.\nconst item = $input.first();\nconst headers = item.json.headers || {};\nconst sigHeader = headers['elevenlabs-signature'] || headers['ElevenLabs-Signature'] || '';\nconst payload = typeof item.json.body === 'string' ? JSON.parse(item.json.body) : (item.json.body || item.json);\n\nreturn [{json: {\n  verified: null,\n  verification_note: 'HMAC deferred — accepts all',\n  signature_header_present: Boolean(sigHeader),\n  received_at: new Date().toISOString(),\n  type: payload.type || 'unknown',\n  conversation_id: payload.data?.conversation_id,\n  agent_id: payload.data?.agent_id,\n  payload\n}}];"
      }
    },
    {
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'ok'}) }}",
        "options": {"responseCode": 200}
      }
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Verify HMAC + Persist NDJSON", "type": "main", "index": 0}]]},
    "Verify HMAC + Persist NDJSON": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
