templates/n8n-workflows/elevenlabs_monitoring_webhook.json
{
  "name": "elevenlabs_monitoring_webhook",
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "parameters": {
        "httpMethod": "POST",
        "path": "elevenlabs/monitoring",
        "responseMode": "responseNode",
        "options": {"rawBody": true}
      }
    },
    {
      "name": "Verify + Forward to Sink",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// v1 receiver — accepts all payloads (HMAC deferred, see post-call workflow\n// for the reason; n8n's Code-node vm sandbox does not expose 'crypto').\n// Real-time monitoring is enterprise-only on this workspace tier so this\n// listener is currently never invoked by ElevenLabs. Listener stays online\n// for when the tier upgrades.\nconst item = $input.first();\nconst headers = item.json.headers || {};\nconst sigHeader = headers['elevenlabs-signature'] || headers['ElevenLabs-Signature'] || '';\nconst payload = typeof item.json.body === 'string' ? JSON.parse(item.json.body) : (item.json.body || item.json);\n\nreturn [{json: {\n  verified: null,\n  verification_note: 'HMAC deferred — accepts all',\n  signature_header_present: Boolean(sigHeader),\n  received_at: new Date().toISOString(),\n  payload\n}}];"
      }
    },
    {
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 0],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'ok'}) }}",
        "options": {"responseCode": 200}
      }
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Verify + Forward to Sink", "type": "main", "index": 0}]]},
    "Verify + Forward to Sink": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}
}
